body {
	background-color: #fff;
	margin: 0;
	font-family: "Lato", "Bebas Neue";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Bebas Neue";
}


.header-wrapper {
	
	/* position: sticky; */
	top: 0;
	background-size: 90rem;
	color: #D48C70;
	height: auto;
	text-align: center;
	padding: 20px 0px;
	padding-top: inherit;
	border-bottom: #E2A18B;
}

.header {
	background-color:  #D0B49F;
	background-size: auto;
	display: flex;
	justify-content: left;
	flex-direction:inherit;
	align-items: center;
	font-size: x-large;
	height: 15em;;
}

.center-about{
	font-family: "Bebas Neue";
	font-size: 80px;
	opacity: .8;	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 5px;
	margin-top: 10px;
	margin-left: 620px;
	padding-left: 10rem;
	
}
a[href*="linked.com"] {
	background:url(https://www.linkedin.com/in/lindsay-wolfgramm-4b13a5188/) no-repeat left center;
	padding-left:19px;
}

.nav-center{
	display: flex;
	justify-content: left;
	align-items:center;
	width: 100%;
	height: 3em;
	background-color: #f6f3ee;

	/* display: flex;
	width: auto;
	flex-direction: row;
	flex-wrap: wrap; */

	/* padding: 60px 100px;
	margin-right: 500px;
	margin-bottom: 500px;
	margin-top: 0; */
}
	 ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
}
li{
	position: relative;
	padding: 0 20px;
	height: 100%;
	display: flex;
}
a{
	z-index: 1;
	color: white;
	text-decoration: none;
	font-family: 'Poppins',sans-serif;
	font-weight: 500;
	font-size: 18px;
	padding: 10px 5px;
}
li::before {
	content: "";
	position: absolute;
	height: 33.33%;
	width: 0;
	background-color: #E2A18B;
	right: 0;
	z-index: 0;
	top: 33.33%;
	transition: all 0.5s;
	opacity: .5;
 }
 li::after {
	content: "";
	position: absolute;
	height: 33.33%;
	width: 0;
	background-color: #E2A18B;
	left: 0;
	z-index: 0;
	bottom: 0;
	transition: all 0.5s;
	opacity: .5;
 }
 a::before {
	position: absolute;
	content: "";
	height: 33.33%;
	width: 0;
	background-color: #E2A18B;
	bottom: 66.66%;
	left: 0;
	transition: all 0.5s;
	opacity: .5;
 }
li:hover:before,
li:hover::after,
li:hover a::before{
   width: 100%;
}


.homepage {
	background-image: url(logo.png);
	padding: 100px;
	height: 230px;
	/* background-attachment: fixed;
	background-size: cover;
	background-position: center; */
}

.top-heading {
	background-color: none;
	color: black;
	font-size: 15px;
	font-family: "Secular One", "Lato";
	width: 200px;
	border-radius: none;
	padding: 0px 25px;
	height: 55px;
	

}


/* .bottom-heading {
	color: #5C5756;
	padding: 1px 20px;
	margin-top: 15px;
	width: 107px;
	border-radius: 2px;
} */
.quote {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 180%;
	background-color: #735e59;
}

.lower-header {
	/* background-color: #d2b396; */
	background-image: url(logo2.png);
	font-family:  "Secular One", "Lato";
	font-weight: bolder;
	width: 100%;
	color: #000;
	text-align: center;
	align-content: center;

}

.features-section {
	/* background-image: url(logo3.png); */
	background-size: 99px;
	background-color:#cb8e7e;
	border-top: 10px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Lato", "Bebos Neue";
	box-shadow: inset 0px .25px 79px .8px rgba(0,0,0,0,58);

}

.features-font {
	font-family: "Lato";
	font-weight: 500;
	color: #f6f3ee;
}

.columns-wrapper {
	width: 0;
	display: flex;
	justify-content: center;
	
}

